* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100lvh;
  background-color: #ff0000;
}

.circle {
  --circle-size: 40px;
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid white;
  border-radius: 100%;
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
}
